.body{
    margin-top: 0.25rem;
}

.body-light-theme .css-vj1n65-MuiGrid-root{
    background-color: rgb(255, 255, 255);
}

.body-dark-theme .css-vj1n65-MuiGrid-root{
    background-color:  #2E3440  ;
}
