.footer{
   
    .container{ 
        min-height: 3rem;
        margin-top: 0.3rem;
        color: rgb(255, 255, 255);
        box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
        align-items: center;
    }

    .body-light-theme{
        background-color: rgb(8 126 164 );
    }

    .body-dark-theme{
        background-color: #2E3440;
    }
}